/* css reset */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
html
{
 /* scroll-behavior:smooth;    */
}
/* css variables */
:root {
    --navbar-height: 59px;
}

/* NAvigation bar */
#navbar {
    display: flex;
    width:100%;
    align-items: center;
    position:sticky;
    top: 0px;
    left: 0px;
    /* border: solid black; */
    font-family: 'Baloo Bhai 2', cursive;
}

/* logo and image */
#logo {}

#logo img {
    height: 60px;
    width: 60px;
    border-radius: 40px;
    ;
}

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
    padding-bottom: 5px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.1rem;
    padding-bottom: 5px;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 6px 22px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    opacity: 0.6;
    cursor: pointer;
    transition: 1.5s;
    border-radius: 15px;
}

/* home section */
#Home {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height:600px;
    justify-content: center;
    align-items: center;
}

#Home::before {
    content: "";
    background: url('../back.jpg') no-repeat center center/cover;
    position:absolute;
    height:600px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#Home h1 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* utiulitys classes*/
.h-primary {
    font-size: 1.9rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}

/* services sector */
.center {
    text-align: center;
}

.h-secondary {
    font-size: 1.9rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;

}

#services {
    margin: 20px;
    display: flex;

}

#services .box {
    
    justify-content: center;
    align-items: center;
    border: 2px solid brown;
    padding: 34px;
    /* margin: 3px 7px; */
    margin:10px 10px;

    border-radius: 23px;
    background-color: aliceblue;
    width:25%;
}
.services-container{
    height:100%;
    width:100%

}

#services .box img {
    height: 80px;
    margin: auto;
    display: block;
    padding: 15px;

}

#services .box p {
    font-family: 'Baloo Bhai 2', cursive;
}

/* client section */
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 108px;


}

#client-section {
    height: 400px;
    position: relative;
}

#client-section::before {
    content: "";
    background: url("../client.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;

}

.client-item {
    padding: 34px;
}

/* contact section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url('../contact.jpg');
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;


}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;

}

#contact-box form button {
    font-size: 1rem;
    width: 25%;
    /* justify-content: center; */
    margin-left: 300px;
    position: relative;
    background-color: brown;
    color: white;
    border-radius: 15px;
    height: 30px;




}

@media screen and (max-width : 850px) {
   
    
    #services{
flex-direction: column;
align-items: center;
/* margin-left: auto; */
/* margin-right: auto; */
    }
#services.box{
    padding:100px;

}
#services .box p{
    margin:0px;
}
#clients{
   flex-wrap: wrap;
}
#clients img{
    height:100px;
    width:120px;
    padding:5px;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding:6px;
}
#Home {
height:600px;
padding: 3px 50px;

}
#Home::before{
    height:600px;
   

}
#Home p{
    font-size: 12px;
}
.h-primary{
    font-size:26px;
    padding:0px 20px;
}
#contacts{
    display: block;
}

#services .box{
    padding:100px;

}
#contact-box form button {
    font-size: 1rem;
    /* width: 25%; */
     justify-content: center; 
    margin-left: 90px;
    
    background-color: brown;
    color: white;
    border-radius: 15px;
    height: 20px;

}
#client{

}

}